# Database Query Notebook

PostgreSQL 데이터베이스에서 뉴스 기사를 조회하는 노트북입니다.

In [13]:
!pip install psycopg2-binary pandas

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.10)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [14]:
import psycopg2
import pandas as pd
from datetime import datetime

# PostgreSQL 연결 설정
def get_db_connection():
    return psycopg2.connect(
        host="localhost",  # Docker service name
        database="news_db",
        user="postgres",
        password="password"
    )

In [15]:
# 접속 테스트

import psycopg2

conn = psycopg2.connect(
    host='postgres',
    port=5432,
    database='news_db',
    user='postgres',
    password='password'
)

cur = conn.cursor()
cur.execute("SELECT * FROM articles LIMIT 5;")
rows = cur.fetchall()
for row in rows:
    print(row)

cur.close()
conn.close()

(1, '카카오', 'https://www.widedaily.com/news/articleView.html?idxno=253099', '카카오프렌즈, 베어브릭 컬래버레이션 굿즈 출시', 'https://www.widedaily.com/news/articleView.html?idxno=253099', '카카오가 카카오프렌즈와 베어브릭이 협업한 컬래버레이션 굿즈를 출시했다고 5일 밝혔다. 카카오는 지난 2021년 베어브릭 제조사 메디콤토이와 제휴해 황금 라이언 베어브릭을 선보인 바 있다. 출시 당일 카카오프렌즈...', '', 'www.widedaily.com', datetime.datetime(2024, 12, 5, 2, 16, tzinfo=datetime.timezone.utc), '2024.12.05', datetime.datetime(2024, 12, 5, 2, 17, 4, tzinfo=datetime.timezone.utc), False, True, True)
(2, '카카오모빌리티', 'http://www.smedaily.co.kr/news/articleView.html?idxno=311556', '카카오 주가 20일새 40% 오른 이유', 'http://www.smedaily.co.kr/news/articleView.html?idxno=311556', '삼성증권 오동환 연구원은 "(카카오는) 컬러버스, 세나테크놀로지 등 비주력 손자회사 매각을 진행 중이나 워낙 커진 조직 규모 탓에 재무 영향은 제한적"이라며 "기존 모빌리티, 페이 등을 이을 수 있는 혁신적인 신규...', '중소기업신문', 'www.smedaily.co.kr', datetime.datetime(2024, 12, 5, 1, 26, tzinfo=datetime.timezone.utc), '2024.12.05', datetime.datetime(2024, 12, 5, 2, 16, 17, tzinfo=datetime.timezone.utc), False, True, True)
(3, '카카오', 'https://m.sports.naver.com/esports/article/442/0000177992', '블루 아카이브X소니 코리아, 특별 헤드폰 출시한다', 'https://www.inven.co.kr/webzine/news/?news=301513', '이번 패키지는 12월 9일 오전 11시부터 카카오톡 선물하기를 통해 선착순으로 예약 구매할 수 있다. 패키지는 소니의 무선 노이즈 캔슬링 헤드폰 ‘WH-1000XM5’와 더불어 ‘블루 아카이브’ 세계관에서 밴드를 결성해...', '', 'www.inven.co.kr', datetime.datetime(2024, 12, 5, 2, 15, tzinfo=datetime.timezone.utc), '2024.12.05', datetime.datetime(2024, 12, 5, 2, 17, 4, tzinfo=datetime.timezone.utc), False, True, True)
(4, '카카오모빌리티', 'https://www.thebell.co.kr/free/content/ArticleView.asp?key=202411281420291080106121', "[더벨][VC 투자기업]'차지메이트' 운영사 아론, 시드 브릿지 유치 완료", 'https://www.thebell.co.kr/free/content/ArticleView.asp?key=202411281420291080106121', '지난 3월에는 카카오모빌리티와 MOU를 체결하고 이동식 전기차 충전 서비스를 사용할 수 있는 접근성 확장의 기반을 마련했다. 아론은 지난해 3월 더벤처스로부터 시드 투자를 받았다. 더벤처스는 아론이 경쟁사들과...', '더벨', 'www.thebell.co.kr', datetime.datetime(2024, 12, 5, 0, 14, tzinfo=datetime.timezone.utc), '2024.12.05', datetime.datetime(2024, 12, 5, 2, 16, 17, tzinfo=datetime.timezone.utc), False, True, True)
(5, '카카오', 'https://www.gamechosun.co.kr/webzine/article/view.php?no=210452', '넥슨 ‘블루 아카이브’, 소니코리아와 협업해 특별 헤드폰 패키지 출시', 'https://www.gamechosun.co.kr/webzine/article/view.php?no=210452', '이번 패키지는 12월 9일 오전 11시부터 카카오톡 선물하기를 통해 선착순으로 예약 구매할 수 있다. 패키지는 소니의 무선 노이즈 캔슬링 헤드폰 ‘WH-1000XM5’와 더불어 ‘블루 아카이브’ 세계관에서 밴드를 결성해...', '게임조선', 'www.gamechosun.co.kr', datetime.datetime(2024, 12, 5, 2, 14, tzinfo=datetime.timezone.utc), '2024.12.05', datetime.datetime(2024, 12, 5, 2, 17, 4, tzinfo=datetime.timezone.utc), False, True, True)

## 날짜별 기사 검색

In [16]:
def count_by_date():
    """
    특정 날짜의 기사를 검색합니다.
    :param date_str: 'YYYY-MM-DD' 형식의 날짜 문자열
    """
    conn = get_db_connection()
    
    query = """
    SELECT 
    DATE(published_at) AS date,
    COUNT(*) AS total_articles,
    SUM(CASE WHEN is_naver_news IS True THEN 1 ELSE 0 END) AS naver_articles
    FROM articles
    GROUP BY DATE(published_at)
    ORDER BY date DESC;
    """
    
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

# 사용 예시:
df = count_by_date()
display(df)

OperationalError: connection to server at "localhost" (::1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

In [17]:
def search_by_date(date_str):
    """
    특정 날짜의 기사를 검색합니다.
    :param date_str: 'YYYY-MM-DD' 형식의 날짜 문자열
    """
    conn = get_db_connection()
    
    query = """
    SELECT 
        id,
        title,
        publisher,
        naver_link,
        published_at
    FROM articles
    WHERE DATE(published_at) = %s
    ORDER BY published_at DESC
    """
    
    df = pd.read_sql_query(query, conn, params=[date_str])
    conn.close()
    return df

# 사용 예시:
df = search_by_date('2024-10-15')
display(df)

OperationalError: connection to server at "localhost" (::1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

## 키워드로 기사 검색

In [18]:
def search_by_keyword(keyword):
    """
    키워드가 포함된 기사를 검색합니다.
    :param keyword: 검색할 키워드
    """
    conn = get_db_connection()
    
    query = """
    SELECT 
        id,
        title,
        publisher,
        naver_link,
        published_at
    FROM articles
    WHERE 
        title LIKE %s OR
        main_keyword LIKE %s
    ORDER BY published_at DESC
    """
    
    search_pattern = f'%{keyword}%'
    df = pd.read_sql_query(query, conn, params=[search_pattern, search_pattern])
    conn.close()
    return df

# 사용 예시:
df = search_by_keyword('카카오모빌리티')
display(df)

OperationalError: connection to server at "localhost" (::1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

## 날짜와 키워드로 기사 검색

In [4]:
def search_by_date_and_keyword(date_str, keyword):
    """
    특정 날짜와 키워드로 기사를 검색합니다.
    :param date_str: 'YYYY-MM-DD' 형식의 날짜 문자열
    :param keyword: 검색할 키워드
    """
    conn = get_db_connection()
    
    query = """
    SELECT 
        id,
        title,
        publisher,
        naver_link,
        published_at
    FROM articles
    WHERE 
        DATE(published_at) = %s AND
        (title LIKE %s OR main_keyword LIKE %s)
    ORDER BY published_at DESC
    """
    
    search_pattern = f'%{keyword}%'
    df = pd.read_sql_query(query, conn, params=[date_str, search_pattern, search_pattern])
    conn.close()
    return df

# 사용 예시:
df = search_by_date_and_keyword('2024-10-15', '카카오모빌리티')
display(df)

/var/folders/m3/j7b0h30d7412rbfrmrz8rqqc0000gn/T/ipykernel_29290/3369546302.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=[date_str, search_pattern, search_pattern])

Empty DataFrame
Columns: [id, title, publisher, naver_link, published_at]
Index: []

## 기사 내용 조회

In [22]:
def get_article_content(article_id):
    """
    특정 기사의 내용을 조회합니다.
    :param article_id: 기사 ID
    """
    conn = get_db_connection()
    
    query = """
    SELECT 
        a.id,
        a.title,
        a.publisher,
        c.content,
        a.published_at
    FROM articles a
    LEFT JOIN contents c ON a.id = c.article_id
    WHERE a.id = %s
    """
    
    df = pd.read_sql_query(query, conn, params=[article_id])
    conn.close()
    return df

# 사용 예시:
df = get_article_content(3514)
display(df)

/var/folders/m3/j7b0h30d7412rbfrmrz8rqqc0000gn/T/ipykernel_37724/408960758.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=[article_id])

Empty DataFrame
Columns: [id, title, publisher, content, published_at]
Index: []

## 카카오모빌리티 관련 기사 검색 예시

In [25]:
# 특정 날짜의 카카오모빌리티 관련 기사 검색
date_str = '2024-09-01'  # 날짜를 원하는 날짜로 변경하세요
keyword = '카카오모빌리티'

df = search_by_date_and_keyword(date_str, keyword)
display(df)

OperationalError: connection to server at "localhost" (::1), port 5432 failed: FATAL:  database "news_db" does not exist

In [9]:
# 특정 날짜의 카카오모빌리티 관련 기사 검색
date_str = '2024-10-01'  # 날짜를 원하는 날짜로 변경하세요
keyword = '카카오모빌리티'

df = search_by_date_and_keyword(date_str, keyword)
display(df)

/var/folders/m3/j7b0h30d7412rbfrmrz8rqqc0000gn/T/ipykernel_17633/1654268631.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=[date_str, search_pattern, search_pattern])

,id,title,publisher,naver_link,published_at
0,49,"공정위,카카오모빌리티과징금 724억 부과한 이유는?",서울타임즈뉴스,https://www.seoultimes.news/news/article.html?...,2024-10-01 15:32:00+00:00
1,51,“영업비밀 요구·‘콜 차단’까지”…카카오모빌리티과징금 724억,KBS,https://n.news.naver.com/mnews/article/056/001...,2024-10-01 15:32:00+00:00
2,53,영업비밀 안 주면 '콜 차단'...카카오에 과징금 724억 원·검찰 고발,YTN,https://n.news.naver.com/mnews/article/052/000...,2024-10-01 15:32:00+00:00
3,55,“영업비밀 요구·‘콜 차단’까지”…카카오모빌리티과징금 724억,KBS,https://n.news.naver.com/mnews/article/056/001...,2024-10-01 15:32:00+00:00
4,57,영업기밀 안 주자 '콜 차단'…카카오T에 과징금 724억 원,SBS,https://n.news.naver.com/mnews/article/055/000...,2024-10-01 15:32:00+00:00
...,...,...,...,...,...
279,651,[2024 국정감사 기획] 22대 첫 국감도 기업인 줄소환,대한경제,https://www.dnews.co.kr/uhtml/view.jsp?idxno=2...,2024-10-01 15:32:00+00:00
280,653,주요 기업 CEO 국감 줄소환… 확정 명단·사유 보니,조선비즈,https://n.news.naver.com/mnews/article/366/000...,2024-10-01 15:32:00+00:00
281,655,불황 넘기 바쁜데… “또 망신주기 국감 불려나가” 재계 한숨,국민일보,https://n.news.naver.com/mnews/article/005/000...,2024-10-01 15:32:00+00:00
282,657,"한국관광공사,카카오모빌리티와 손잡고 단풍 여행지 소개",여행신문,https://www.traveltimes.co.kr/news/articleView...,2024-10-01 15:32:00+00:00
283,659,원주 반계리 은행나무 '가을단풍 여행지도' 수록,강원도민일보,https://n.news.naver.com/mnews/article/654/000...,2024-10-01 15:32:00+00:00

In [ ]:
def search_by_date_and_keyword_all(date_str, keyword):
    """
    특정 날짜와 키워드로 기사를 검색합니다.
    :param date_str: 'YYYY-MM-DD' 형식의 날짜 문자열
    :param keyword: 검색할 키워드
    """
    conn = get_db_connection()
    
    query = """
    SELECT 
        *
    FROM articles
    WHERE 
        DATE(published_at) = %s AND
        (title LIKE %s OR main_keyword LIKE %s)
    ORDER BY published_at DESC
    """
    
    search_pattern = f'%{keyword}%'
    df = pd.read_sql_query(query, conn, params=[date_str, search_pattern, search_pattern])
    conn.close()
    return df

# 사용 예시:
df = search_by_date_and_keyword_all('2024-10-01', '카카오모빌리티')
display(df)

In [23]:
def get_all_comments(limit=50):
    """
    모든 댓글을 collected_at 기준으로 내림차순 정렬하여 조회합니다.
    
    :param limit: 조회할 댓글의 수 (기본값: 50)
    :return: pandas DataFrame 형식의 댓글 데이터
    """
    conn = get_db_connection()
    
    query = """
    SELECT 
        *
    FROM comments
    ORDER BY collected_at DESC
    LIMIT %s;
    """
    
    df = pd.read_sql_query(query, conn, params=[limit])
    conn.close()
    return df

# 사용 예시:
df_all_comments = get_all_comments()
display(df_all_comments)

/var/folders/m3/j7b0h30d7412rbfrmrz8rqqc0000gn/T/ipykernel_37724/1729070522.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=[limit])

,id,article_id,comment_no,parent_comment_no,content,username,profile_url,timestamp,collected_at,likes,dislikes,reply_count,is_reply,is_deleted,delete_type
0,5937,3102,844493191053836396,844493191053836396,"모든 국민들이 다 관용이 없다면 그 또한 깨끗한 사회가 될 수도 있는데, 이런 관용...",dowh****,https://phinf.pstatic.net/contact/0/2011/4/5/d...,2024-12-02 23:31:32+00:00,2024-12-03 01:33:56.233391+00:00,0,4,0,False,False,None
1,5936,3102,844494886844498114,844494886844498114,"사위왈,장모는 남에게 10원도 피해 준 적 없다: 약정서 위조해 동업자 정대택이 감...",shs5****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:57:52+00:00,2024-12-03 01:33:56.232965+00:00,0,2,0,False,False,None
2,5935,3102,844495418665467930,844495418665467930,찌라시 언론이 영웅되는 오늘의 한국정치!,nnn0****,https://phinf.pstatic.net/contact/20231129_82/...,2024-12-03 00:06:07+00:00,2024-12-03 01:33:56.232533+00:00,0,2,1,False,False,None
3,5934,3102,844494988329877596,844494988329877596,비교할껄 비교해라. 주가조작.분식회계등 본질이 사기꾼범죄와 비교하나? 미국은 분식회...,meic****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:59:26+00:00,2024-12-03 01:33:56.231901+00:00,0,1,0,False,False,None
4,5933,3102,844493749533802560,844493749533802560,멀리 볼수있는 혜안을 가집시다 가족끼리 미주알 고주알 들추다 남의집 머...,agaa****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:40:13+00:00,2024-12-03 01:33:56.231109+00:00,0,0,0,False,False,None
5,5932,3102,844495176184365145,844495176184365145,영웅을죽이는 조선은?,hyun****,https://static.nid.naver.com/images/web/user/d...,2024-12-03 00:02:21+00:00,2024-12-03 01:33:56.229561+00:00,0,0,0,False,False,None
6,5931,3102,844495230827757624,844495230827757624,상법개정안이나 통과시키자. 그럼 영웅 욕할일도 없어질듯.,cjeu****,https://static.nid.naver.com/images/web/user/d...,2024-12-03 00:03:12+00:00,2024-12-03 01:33:56.229130+00:00,0,0,0,False,False,None
7,5930,3102,844495323068891286,844495323068891286,기업인이 국가경제에 기여하는 바가 매우 큰 것이 분명하다. 그러나 비뚤어진 기업가정...,lts0****,https://phinf.pstatic.net/contact/20211210_249...,2024-12-03 00:04:38+00:00,2024-12-03 01:33:56.228693+00:00,0,0,0,False,False,None
8,5929,3102,844495462353338572,844495462353338572,시기와 질투가 많은 민족성. 사돈이 땅 사면 배아프지,park****,https://static.nid.naver.com/images/web/user/d...,2024-12-03 00:06:48+00:00,2024-12-03 01:33:56.228269+00:00,0,0,0,False,False,None
9,5928,3102,844499421440770147,844499421440770147,이런기업이 크게성장할수있는 풍토를 만들어 우리도 선진국으로 도약하수있습니다.,bhs4****,https://phinf.pstatic.net/contact/20221005_45/...,2024-12-03 01:08:15+00:00,2024-12-03 01:33:56.227468+00:00,0,0,0,False,False,None
10,5927,3102,844499554198880396,844499554198880396,"내말이 이 칼럼의 주장과 같다, 어떤 사안에 대해서 ,, 어떤 잘못이 있을때,...",bull****,https://phinf.pstatic.net/contact/20231110_148...,2024-12-03 01:10:19+00:00,2024-12-03 01:33:56.227038+00:00,0,0,0,False,False,None
11,5926,3102,844494358982951062,844494358982951062,기업인을 우대하는 사회를 만들자. 국가가 부강해지고 국민이 부강해진다.,smh5****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:49:40+00:00,2024-12-03 01:33:56.226598+00:00,1,1,0,False,False,None
12,5925,3102,844494518819487784,844494518819487784,전라도 조심해야 한다 뒤통수 깨진다,vnrt****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:52:09+00:00,2024-12-03 01:33:56.226172+00:00,1,1,0,False,False,None
13,5924,3102,844496006941769803,844496006941769803,조선일보가 펜으로 사람 죽이지 않았나?,ihu3****,https://phinf.pstatic.net/contact/20240216_260...,2024-12-03 00:15:15+00:00,2024-12-03 01:33:56.225730+00:00,1,1,0,False,False,None
14,5923,3102,844494617033310381,844494617033310381,삼성전자 망하길 바라던 인간들은 요새 십년 쳇증이 쑥 내려 갔을려나. 그들은 국가가...,mina****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:53:40+00:00,2024-12-03 01:33:56.225287+00:00,1,0,0,False,False,None
15,5922,3102,844495037470343212,844495037470343212,북한처럼 모두가 못 살고 평등한 배급사회로 가는 것이 명이 꿈 꾸는 사회이다.,ibju****,https://static.nid.naver.com/images/web/user/d...,2024-12-03 00:00:12+00:00,2024-12-03 01:33:56.224782+00:00,1,0,0,False,False,None
16,5921,3102,844494099540082845,844494099540082845,한국민의 후진성에 답이 있다 친일 욕하면서 일본으로 몰려다니는 국민,lky2****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:45:39+00:00,2024-12-03 01:33:56.224353+00:00,2,1,0,False,False,None
17,5920,3102,844494173443719360,844494173443719360,이재용 김범수..그만 나둬라..총수라고 모든 총대를 매고 정권 바뀔 때 마다 정치의...,antn****,https://phinf.pstatic.net/contact/profile/blog...,2024-12-02 23:46:47+00:00,2024-12-03 01:33:56.223919+00:00,2,1,0,False,False,None
18,5919,3102,844494173611491519,844494173611491519,빌게이츠나 머스크가 꽃배달하냐 하나만 잘해도 못따라 갈판에 백개가 넘는 자회사 문...,chap****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:46:48+00:00,2024-12-03 01:33:56.223481+00:00,2,1,0,False,False,None
19,5918,3102,844493793053901001,844493793053901001,"기업 성공을 위해 피튀기는 경쟁을 하는 것과, 국민과 함께 일군 기업의 돈을 사업자...",klif****,https://phinf.pstatic.net/contact/20230217_86/...,2024-12-02 23:40:53+00:00,2024-12-03 01:33:56.223054+00:00,2,0,0,False,False,None
20,5917,3102,844494621764485287,844494621764485287,"우리나라는 철저히 영웅은 죽이고., ..간첩질과온갖 범죄자는 온몸 바처 방탄과 ...",kdk7****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:53:45+00:00,2024-12-03 01:33:56.222624+00:00,2,0,0,False,False,None
21,5916,3102,844494994705219724,844494994705219724,이것이 고질적인 한국인들의 병폐로다.....남이 잘 되는 것을 못 참는 민족성이로다...,juyu****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:59:32+00:00,2024-12-03 01:33:56.222197+00:00,2,0,0,False,False,None
22,5915,3102,844493648602071200,844493648602071200,근데 전과4범에 각종 사기와 도둑질한 어떤 당대표라는 놈은 멀쩡하게 대통령을 넘보던...,kmsn****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:38:39+00:00,2024-12-03 01:33:56.221764+00:00,3,0,0,False,False,None
23,5914,3102,844493717103444114,844493717103444114,열심히 일해서 잘사는 사람 을 그냥 뺏고 갈취해서 같이 죽자는 더듬당 과 노조 들,chun****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:39:42+00:00,2024-12-03 01:33:56.221329+00:00,3,0,0,False,False,None
24,5913,3102,844492480488407156,844492480488407156,공감한다. 하지만 조선일보와 같은 메이저 신문들이 사회적 갈등을 증폭시키는 알에 앞...,ksh-****,https://phinf.pstatic.net/contact/20230725_300...,2024-12-02 23:20:31+00:00,2024-12-03 01:33:56.220897+00:00,4,1,0,False,False,None
25,5912,3102,844495123923337357,844495123923337357,좌파들이 문제임. 사실왜곡까지하면서 인민재판해서 끌어내려야 자기들이 사니까. 동덕여...,free****,https://phinf.pstatic.net/contact/20230827_133...,2024-12-03 00:01:33+00:00,2024-12-03 01:33:56.220442+00:00,4,0,0,False,False,None
26,5911,3102,844476854071984181,844476854071984181,아무리 유능한 정부도 세금을 창출할 수는 없다!!!,jinm****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 19:17:57+00:00,2024-12-03 01:33:56.220010+00:00,7,0,0,False,False,None
27,5910,3102,844493695041405025,844493695041405025,"대입수시 사기전형이 애들을 망쳐놓고, 바보만드는거다...중고등 6년 내신 따기시험에...",cyk3****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:39:22+00:00,2024-12-03 01:33:56.219556+00:00,7,0,0,False,False,None
28,5909,3102,844492803080716397,844492803080716397,한국인은 질투가 나라 망친다...,laki****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 23:25:31+00:00,2024-12-03 01:33:56.219126+00:00,14,3,1,False,False,None
29,5908,3102,844469123617390683,844469123617390683,김범수나 이재명이나 뭔 잘못한게 있다면 처벌받는게 답이다...,kkhh****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 17:17:58+00:00,2024-12-03 01:33:56.218688+00:00,18,2,1,False,False,None
30,5907,3102,844466400306135134,844466400306135134,한국언론은 김범수든 누구든 대기업 오너의 실제 성격이 어떻고 숨겨진 모습은 어떤지 ...,swed****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 16:35:42+00:00,2024-12-03 01:33:56.218243+00:00,27,0,2,False,False,None
31,5906,3099,844500182153297949,844500182153297949,"무조건적 친미에 ㅎ ㅎ ㅎ ,미국놈들 돈앞에 피도 눈물도없다.",kjh6****,https://static.nid.naver.com/images/web/user/d...,2024-12-03 01:20:03+00:00,2024-12-03 01:33:50.543895+00:00,0,2,0,False,False,None
32,5905,3099,844490865899470917,844490865899470917,해면 뭐하누 망사용료 다 뜯어가는대 퍽이나 하겠다,wjdd****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 22:55:27+00:00,2024-12-03 01:33:50.543067+00:00,1,0,0,False,False,None
33,5904,3099,844498565131665687,844498565131665687,민주당 다수당 국가에 ... 누가 대규모 투자하겠냐 ?? 국내기업도 외국으로 나...,walw****,https://static.nid.naver.com/images/web/user/d...,2024-12-03 00:54:57+00:00,2024-12-03 01:33:50.542610+00:00,2,1,0,False,False,None
34,5903,1499,844394548506394664,844394548506394664,세계 4대 겨울축제가 어디어디인지 좀 먼저 알려주길. 진짜 비교 좀 해보게,2651****,https://static.nid.naver.com/images/web/user/d...,2024-12-01 22:00:24+00:00,2024-12-03 01:33:46.616912+00:00,1,0,0,False,False,None
35,5902,1480,844417147785445457,844417147785445457,카카오모빌리티와 서울시의 협약이 관광문화 발전에 큰 기여가 되기를 희망함.,aenj****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 03:51:12+00:00,2024-12-03 01:33:16.390332+00:00,0,0,0,False,False,None
36,5901,1480,844423560037400873,844423560037400873,"카카오T 택시 .내비, 카카오모빌리티서비스와 더욱 활성화될 것으로\n기대 됩니다.",lee9****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 05:30:44+00:00,2024-12-03 01:33:16.389838+00:00,0,0,0,False,False,None
37,5900,1468,844454630636126212,844454630636126212,카카오 주식이나 복구시켜라,kog0****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 13:33:00+00:00,2024-12-03 01:33:12.337104+00:00,0,0,0,False,False,None
38,5899,1446,844441725685465340,844441725685465340,카카오택시 덕분에 참 편하게 다닌다. 10년전만해도양아치기사들의 갑질은 아는사람은 ...,ptw3****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 10:12:42+00:00,2024-12-03 01:32:55.721849+00:00,7,7,2,False,False,None
39,5898,1446,844441742714339616,844441742714339616,돌려 줘 도둑넘들아 기사는 봉,alst****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 10:12:57+00:00,2024-12-03 01:32:55.721361+00:00,3,0,0,False,False,None
40,5897,1446,844444471411081335,844444471411081335,동남아도 그랩 사용하면서 장점이 훨 많아짐,pkj9****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 10:55:19+00:00,2024-12-03 01:32:55.720906+00:00,0,0,0,False,False,None
41,5896,1446,844444681310830792,844444681310830792,카카오택시는 최고다~!! 시간절약도되고 너무 편리!!!,limi****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 10:58:34+00:00,2024-12-03 01:32:55.720433+00:00,7,3,3,False,False,None
42,5895,1446,844447564961939551,844447564961939551,국가경쟁 기업은 좀키워줘라!해외수출도 지원 해주고ᆢ\n길닦아놓으니 ᆢ타다등 등장시...,atom****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 11:43:20+00:00,2024-12-03 01:32:55.719963+00:00,1,3,0,False,False,None
43,5894,1446,844464047469363240,844464047469363240,제발 카카오 좀 그만 괴롭혀라…,nene****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 15:59:10+00:00,2024-12-03 01:32:55.719387+00:00,3,3,0,False,False,None
44,5893,1445,844450070588817484,844450070588817484,개미를 털어 낼려고? 카카오 관련주식 대량 매수 하입시데이 ~,lara****,https://phinf.pstatic.net/contact/20210403_248...,2024-12-02 12:22:13+00:00,2024-12-03 01:32:51.138371+00:00,2,2,0,False,False,None
45,5892,1445,844451148407505210,844451148407505210,상법개정,mini****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 12:38:57+00:00,2024-12-03 01:32:51.137920+00:00,1,0,0,False,False,None
46,5891,1445,844457285781553220,844457285781553220,카카오 가 이번 기회에 좀 갈 것같다 .. 바닥에서 겨우 10프로 남짓 올랐는데도 ...,nene****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 14:14:13+00:00,2024-12-03 01:32:51.137458+00:00,2,0,0,False,False,None
47,5890,1445,844455072631882080,844455072631882080,부도덕 불공정. ㅎㅎㅎ,seok****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 13:39:52+00:00,2024-12-03 01:32:51.136999+00:00,3,1,0,False,False,None
48,5889,1445,844450511661826083,844450511661826083,쪼개기 못하니 이제 ㅋㅋㅋ,rsaq****,https://phinf.pstatic.net/contact/17/2015/2/16...,2024-12-02 12:29:04+00:00,2024-12-03 01:32:51.136481+00:00,8,0,0,False,False,None
49,5888,1455,844461078489333788,844461078489333788,조옥같은 카카오 평당15만원이다 차라리 다망하게 전쟁이나 났으면,rhdc****,https://static.nid.naver.com/images/web/user/d...,2024-12-02 15:13:05+00:00,2024-12-03 01:32:46.048574+00:00,0,1,0,False,False,None