# Database Query Notebook

PostgreSQL 데이터베이스에서 뉴스 기사를 조회하는 노트북입니다.

In [ ]:
!pip install sqlalchemy psycopg2-binary pandas

In [4]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine

# PostgreSQL 연결 설정
def get_db_connection():
    return create_engine(
        "postgresql://postgres:password@localhost:5432/news_db"
    )

In [9]:
# 접속 테스트
engine = get_db_connection()
df = pd.read_sql("SELECT * FROM articles LIMIT 5;", engine)
display(df)

,id,main_keyword,naver_link,title,original_link,description,publisher,publisher_domain,published_at,published_date,collected_at,is_naver_news,is_test,is_api_collection
0,505,카카오모빌리티,https://www.etoday.co.kr/news/view/2400916,“무료 개방 주차장 어디?”…네카오 추석 맞이 교통상황 제공한다,https://www.etoday.co.kr/news/view/2400916,"이승원카카오모빌리티내비 서비스 팀장은 ""교통량이 급증하는 추석 연휴를 대비해 자동으...",이투데이,www.etoday.co.kr,2024-09-14 15:32:00+00:00,2024.09.15,2024-12-13 01:09:58+00:00,False,True,False
1,506,카카오모빌리티,https://www.ajunews.com/view/20240913230803540,"카카오모빌리티, 연휴 교통 부담 줄여줄 '내비 200% 활용법' 공개",https://www.ajunews.com/view/20240913230803540,아주경제=한영훈 기자 han@ajunews.com 추석 연휴 카카오내비 200% 활...,아주경제,www.ajunews.com,2024-09-14 15:32:00+00:00,2024.09.15,2024-12-13 01:09:58+00:00,False,True,False
2,507,카카오모빌리티,https://www.newsworks.co.kr/news/articleView.h...,"""추석 연휴 교통 체증, 휴대폰 앱으로 해결""…네이버지도·카카오내비 ...",https://www.newsworks.co.kr/news/articleView.h...,간 길' 또는 '자주 간 길' 경로 옵션을 통해 선호하는 경로로 보다 편안하게 이동...,뉴스웍스,www.newsworks.co.kr,2024-09-14 15:32:00+00:00,2024.09.15,2024-12-13 01:09:58+00:00,False,True,False
3,1143,카카오모빌리티,http://www.gnmaeil.com/news/articleView.html?i...,양산시 조직개편안 시민 위한 행정 '오 원더풀',http://www.gnmaeil.com/news/articleView.html?i...,▶ 지속 가능한 도시 구현 생활인구 유입 총력 의료·바이오·E-모빌리티등 신성장동력...,경남매일신문,www.gnmaeil.com,2024-10-22 15:32:00+00:00,2024.10.23,2024-12-13 01:18:04+00:00,False,True,False
4,1205,카카오모빌리티,https://n.news.naver.com/mnews/article/008/000...,국회까지 나서 질타…카카오모빌리티제재 결론 빨라질 듯,http://news.mt.co.kr/mtview.php?no=20241025140...,5개월여간 이어진카카오모빌리티분식회계에 대한 제재 논의가 곧 결론을 낼 것으로 보인...,머니투데이,news.mt.co.kr,2024-10-25 15:32:00+00:00,2024.10.26,2024-12-13 01:18:40+00:00,True,True,False

In [10]:
# 접속 테스트
engine = get_db_connection()
df = pd.read_sql("SELECT * FROM comments LIMIT 5;", engine)
display(df)

,id,article_id,comment_no,parent_comment_no,content,username,profile_url,timestamp,collected_at,likes,dislikes,reply_count,is_reply,is_deleted,delete_type
0,1,45,845180784984719546,845180784984719546,그냥 일반 기사들은 다 굶어뒤지네t블루만 수수료 때가니까 몰빵해주지,30wo****,https://static.nid.naver.com/images/web/user/d...,None,2024-12-13 00:36:03+00:00,0,0,0,False,False,None
1,6,45,844464047469363240,844464047469363240,제발 카카오 좀 그만 괴롭혀라…,nene****,https://static.nid.naver.com/images/web/user/d...,None,2024-12-13 00:36:03+00:00,4,4,0,False,False,None
2,9,45,844444681310830792,844444681310830792,카카오택시는 최고다~!! 시간절약도되고 너무 편리!!!,limi****,https://static.nid.naver.com/images/web/user/d...,None,2024-12-13 00:36:03+00:00,7,3,3,False,False,None
3,12,45,844444471411081335,844444471411081335,동남아도 그랩 사용하면서 장점이 훨 많아짐,pkj9****,https://static.nid.naver.com/images/web/user/d...,None,2024-12-13 00:36:03+00:00,0,0,0,False,False,None
4,15,45,844441742714339616,844441742714339616,돌려 줘 도둑넘들아 기사는 봉,alst****,https://static.nid.naver.com/images/web/user/d...,None,2024-12-13 00:36:03+00:00,4,0,0,False,False,None

## 날짜별 기사 검색

In [6]:
def count_by_date():
    """
    특정 날짜의 기사를 검색합니다.
    :param date_str: 'YYYY-MM-DD' 형식의 날짜 문자열
    """
    engine = get_db_connection()
    
    query = """
    SELECT 
    DATE(published_at) AS date,
    COUNT(*) AS total_articles,
    SUM(CASE WHEN is_naver_news IS True THEN 1 ELSE 0 END) AS naver_articles
    FROM articles
    GROUP BY DATE(published_at)
    ORDER BY date DESC;
    """
    
    df = pd.read_sql_query(query, engine)
    return df

# 사용 예시:
df = count_by_date()
display(df)

           date  total_articles  naver_articles
0    2024-12-12             730             184
1    2024-12-11             349             116
2    2024-12-10              40              17
3    2024-12-09              29              15
4    2024-12-08              60              21
..          ...             ...             ...
99   2024-09-04              26              14
100  2024-09-03              13               9
101  2024-09-02              16               7
102  2024-09-01              10               3
103  2024-08-31              14              10

[104 rows x 3 columns]

# 가장 댓글이 많은 기사 TOP10

In [18]:
import pandas as pd
from sqlalchemy import create_engine, text

# PostgreSQL 연결
engine = create_engine("postgresql://postgres:password@localhost:5432/news_db")

# SQL 쿼리
query = text("""
WITH comment_counts AS (
    SELECT 
        article_id,
        COUNT(*) as comment_count
    FROM comments
    GROUP BY article_id
)
SELECT 
    a.id,
    a.title,
    a.publisher,
    a.published_at,
    a.naver_link,
    COALESCE(cc.comment_count, 0) as comment_count
FROM articles a
LEFT JOIN comment_counts cc ON a.id = cc.article_id
WHERE 
    a.title LIKE '%카카오모빌리티%' OR
    a.main_keyword LIKE '%카카오모빌리티%'
ORDER BY comment_count DESC
LIMIT 50;
""")

# 쿼리 실행
df = pd.read_sql_query(query, engine)
display(df)

,id,title,publisher,published_at,naver_link,comment_count
0,6330,"[단독]‘용산’ 퇴직한 44명 전원, 금융-공기업 등 재취업",동아일보,2024-10-06 15:32:00+00:00,https://n.news.naver.com/mnews/article/020/000...,674
1,792,"“논두렁에 5시간 갇혔다” 국민 내비, 사고 치더니…결국 ‘사달’",헤럴드경제,2024-10-03 15:32:00+00:00,https://n.news.naver.com/mnews/article/016/000...,337
2,5494,"'택시 이래서 안잡혔구나'…카카오, 724억원 과징금 폭탄",SBS Biz,2024-10-01 15:32:00+00:00,https://n.news.naver.com/mnews/article/374/000...,186
3,2207,"100명 중 99명은 잃었다…'개미 지옥'카카오, 솟아날 구멍은?",머니투데이,2024-11-21 15:32:00+00:00,https://n.news.naver.com/mnews/article/008/000...,174
4,4924,밤 11시 강남서 귀가하다 놀라겠네…'요금 0원' 택시의 정체,한국경제,2024-09-24 15:32:00+00:00,https://n.news.naver.com/mnews/article/015/000...,151
5,5075,"'하이브 폭로' 기자, 이미 사직… ""민희진에 녹취 직접 준 적 없어""",머니투데이,2024-09-25 15:32:00+00:00,https://n.news.naver.com/mnews/article/008/000...,86
6,6955,"""투자금 반토막""카카오개미 99% 물렸다…증권가 ""'줍줍' 하지마""",머니투데이,2024-10-14 15:32:00+00:00,https://n.news.naver.com/mnews/article/008/000...,77
7,968,"택시 기사·승객 모두 '카카오T'로 몰려…""택시앱 다양성 부족""",지디넷코리아,2024-10-13 15:32:00+00:00,https://n.news.naver.com/mnews/article/092/000...,61
8,708,내비게이션마다 추천 경로 제각각…왜 다를까?,KBS,2024-09-29 15:32:00+00:00,https://n.news.naver.com/mnews/article/056/001...,57
9,6187,"[단독]""못 믿어도 참고 쓴다""…카카오T, 96% 독점의 '악순환'",노컷뉴스,2024-10-05 15:32:00+00:00,https://n.news.naver.com/mnews/article/079/000...,49
10,6556,"최현석의 '쵸이닷' 최강록의 '네오'…흑백요리사 식당, 내비에 '주르륵...",머니투데이,2024-10-08 15:32:00+00:00,https://n.news.naver.com/mnews/article/008/000...,45
11,5426,“콜 차단이라니” 막나간카카오T에 724억 ‘과징금 폭탄’,국민일보,2024-10-01 15:32:00+00:00,https://n.news.naver.com/mnews/article/005/000...,44
12,2223,"900억 먹튀사건, 그건 저주였다…카카오망가뜨린 주범들",중앙일보,2024-11-22 15:32:00+00:00,https://n.news.naver.com/mnews/article/025/000...,44
13,7991,"“카톡은 바로 국민앱 됐는데”…야심차게 내놓은 이것, 구원투수 될까",매일경제,2024-10-23 15:32:00+00:00,https://n.news.naver.com/mnews/article/009/000...,40
14,521,폭스바겐 무릎 꿇린 중국 전기차…한국도 흔드나,노컷뉴스,2024-09-16 15:32:00+00:00,https://n.news.naver.com/mnews/article/079/000...,39
15,8442,'손자 사망' 강릉 급발진 의심 사고…운전자 할머니 '죄가 없다' 종결,노컷뉴스,2024-10-29 15:32:00+00:00,https://n.news.naver.com/mnews/article/079/000...,37
16,8926,“3년 전 1000만원 넣고 -70%”…‘김범수 보석→檢 압수수색’카카오...,헤럴드경제,2024-11-04 15:32:00+00:00,https://n.news.naver.com/mnews/article/016/000...,36
17,6857,"[박용후의 관점] 만신창이 신세,카카오가 지금 살아남는 법",시사저널,2024-10-13 15:32:00+00:00,https://n.news.naver.com/mnews/article/586/000...,32
18,4619,"""내비에 속았다"" 논길 우회로 갔다가 수시간 갇힌 귀경객들",한국일보,2024-09-18 15:32:00+00:00,https://n.news.naver.com/mnews/article/469/000...,29
19,4962,내일부터 강남에 ‘심야 자율주행택시’ 뜬다…카카오T로 호출,조선비즈,2024-09-24 15:32:00+00:00,https://n.news.naver.com/mnews/article/366/000...,27
20,4706,‘내비 알고리즘의 배신’… 귀경길 농로 정체에 티맵 진땀,국민일보,2024-09-19 15:32:00+00:00,https://n.news.naver.com/mnews/article/005/000...,25
21,685,밤 11시 강남서 집에 가다 ‘화들짝’…‘요금 0원’ 유령 택시 정체,헤럴드경제,2024-09-27 15:32:00+00:00,https://n.news.naver.com/mnews/article/016/000...,25
22,6061,"공정위 “카카오, 불법 서슴지 않아”…2년간 과징금 1000억",조선일보,2024-10-02 15:32:00+00:00,https://n.news.naver.com/mnews/article/023/000...,25
23,2204,"CBS '2024 대한민국 인구포럼'…""출산율 반등의 해 될 것""(종합)",노컷뉴스,2024-11-21 15:32:00+00:00,https://n.news.naver.com/mnews/article/079/000...,25
24,751,고래싸움에 새우등 터진다?‥택시기사 콜 차단 '과징금 724억',MBC,2024-10-01 15:32:00+00:00,https://n.news.naver.com/mnews/article/214/000...,25
25,6186,"[22대 국회 첫 국감]②정의선·김동관, 기업인 줄줄이 국감 부르기 관행...",뉴시스,2024-10-05 15:32:00+00:00,https://n.news.naver.com/mnews/article/003/001...,23
26,4968,"차 키 어디있지? 주차 어디 했더라…""갤럭시폰에 물어보세요""",노컷뉴스,2024-09-24 15:32:00+00:00,https://n.news.naver.com/mnews/article/079/000...,22
27,9081,[단독] “택시 수수료마저 속였나”···카카오모빌리티분식회계 과징...,매일경제,2024-11-04 15:32:00+00:00,https://n.news.naver.com/mnews/article/009/000...,21
28,6999,김범수 “수백번 넘는 회의 참여했지만 위법한 결정 내린 적 없다”,이데일리,2024-10-15 15:32:00+00:00,https://n.news.naver.com/mnews/article/018/000...,21
29,8237,"[교통시대]국토부가 만든 통합교통 앱, '카카오T' 이길까?",비즈워치,2024-10-27 15:32:00+00:00,https://n.news.naver.com/mnews/article/648/000...,20
30,750,영업기밀 안 주자 '콜 차단'…카카오T에 과징금 724억 원,SBS,2024-10-01 15:32:00+00:00,https://n.news.naver.com/mnews/article/055/000...,20
31,6237,[단독]카카오모빌리티'콜 차단' 남부지검 수사 착수…공정거래법 위반...,TV조선,2024-10-06 15:32:00+00:00,https://n.news.naver.com/mnews/article/448/000...,19
32,6559,"[유미's 픽] 올해 30% 넘게 주가 '뚝'…빨간불 켜진카카오, AI 新무기로...",지디넷코리아,2024-10-08 15:32:00+00:00,https://n.news.naver.com/mnews/article/092/000...,19
33,583,"""내비 믿었다가 논두렁길'…모빌리티혁신해 재발 막는다",연합뉴스TV,2024-09-22 15:32:00+00:00,https://n.news.naver.com/mnews/article/422/000...,19
34,986,"석유공사, 대왕고래 투자자문사 선정…""본격 투자유치 활동""",노컷뉴스,2024-10-14 15:32:00+00:00,https://n.news.naver.com/mnews/article/079/000...,18
35,2824,"카카오또 '급등', 4만2000원 회복… 외국인·기관 돌아왔다",머니투데이,2024-12-01 15:32:00+00:00,https://n.news.naver.com/mnews/article/008/000...,18
36,45,[단독]카카오모빌리티'수수료 과다' 과징금 확 준다…소급은 NO,SBS Biz,2024-12-01 15:32:00+00:00,https://n.news.naver.com/mnews/article/374/000...,18
37,9074,"[단독] 검찰, ‘콜 차단·몰아주기’카카오·카모 압수수색",조선일보,2024-11-04 15:32:00+00:00,https://n.news.naver.com/mnews/article/023/000...,18
38,6466,"대법 ""김봉현 술접대 검사, 100만원 초과 가능성""…'93만원 무죄' 파기",노컷뉴스,2024-10-07 15:32:00+00:00,https://n.news.naver.com/mnews/article/079/000...,18
39,939,[로보택시대전] '현대·KGM vs 테슬라' 2025년 완전 자율주행 경쟁 예고,블로터,2024-10-11 15:32:00+00:00,https://n.news.naver.com/mnews/article/293/000...,18
40,754,영업기밀 주지 않자 '콜 갑질'…카카오M에 과징금 724억,JTBC,2024-10-01 15:32:00+00:00,https://n.news.naver.com/mnews/article/437/000...,17
41,5159,"국내 첫 심야 자율주행 택시 첫날,카카오T 켜보니…“운행하는 거 맞아...",디지털데일리,2024-09-26 15:32:00+00:00,https://n.news.naver.com/mnews/article/138/000...,17
42,10695,[DD's톡] 네이버는 쭉쭉 오르는데…카카오는 왜 아직도 ‘삼카오’일까,디지털데일리,2024-11-21 15:32:00+00:00,https://n.news.naver.com/mnews/article/138/000...,17
43,10808,택시호출 시장 여전히카카오T 천하… 우버·아이엠·타다 역부족,조선비즈,2024-11-25 15:32:00+00:00,https://n.news.naver.com/mnews/article/366/000...,16
44,6563,7시간 기다려 '3분40초' 답했다…국감장 불려간 기업인 159명,중앙일보,2024-10-08 15:32:00+00:00,https://n.news.naver.com/mnews/article/025/000...,16
45,6770,카카오에 724억 물린 공정위 담당자에게 물었습니다 [정영효의 산업경제...,한국경제,2024-10-10 15:32:00+00:00,https://n.news.naver.com/mnews/article/015/000...,15
46,1208,AI도 추천한 명불허전 설악산·내장산… 10대 단풍 성지는,조선일보,2024-10-25 15:32:00+00:00,https://n.news.naver.com/mnews/article/023/000...,15
47,5432,'콜 갑질'카카오T에 과징금…3년치 영업이익 토해낼 판,한국경제,2024-10-01 15:32:00+00:00,https://n.news.naver.com/mnews/article/015/000...,14
48,9045,"검찰, '택시 콜 몰아주기' 의혹카카오본사·모빌리티압수수색",한국일보,2024-11-04 15:32:00+00:00,https://n.news.naver.com/mnews/article/469/000...,14
49,4697,내비만 믿고 달렸는데 ‘5시간 논길감옥’…날벼락 맞은 이유 알고 보니,매일경제,2024-09-19 15:32:00+00:00,https://n.news.naver.com/mnews/article/009/000...,13

In [7]:
def search_by_date(date_str):
    """
    특정 날짜의 기사를 검색합니다.
    :param date_str: 'YYYY-MM-DD' 형식의 날짜 문자열
    """
    engine = get_db_connection()
    
    query = """
    SELECT 
        id,
        title,
        publisher,
        naver_link,
        published_at
    FROM articles
    WHERE DATE(published_at) = %s
    ORDER BY published_at DESC
    """
    
    df = pd.read_sql_query(query, engine, params=[date_str])
    return df

# 사용 예시:
df = search_by_date('2024-10-15')
display(df)

ArgumentError: List argument must consist only of tuples or dictionaries

## 키워드로 기사 검색

In [8]:
def search_by_keyword(keyword):
    """
    키워드가 포함된 기사를 검색합니다.
    :param keyword: 검색할 키워드
    """
    engine = get_db_connection()
    
    query = """
    SELECT 
        id,
        title,
        publisher,
        naver_link,
        published_at
    FROM articles
    WHERE 
        title LIKE %s OR
        main_keyword LIKE %s
    ORDER BY published_at DESC
    """
    
    search_pattern = f'%{keyword}%'
    df = pd.read_sql_query(query, engine, params=[search_pattern, search_pattern])
    return df

# 사용 예시:
df = search_by_keyword('카카오모빌리티')
display(df)

ArgumentError: List argument must consist only of tuples or dictionaries

## 날짜와 키워드로 기사 검색

In [ ]:
def search_by_date_and_keyword(date_str, keyword):
    """
    특정 날짜와 키워드로 기사를 검색합니다.
    :param date_str: 'YYYY-MM-DD' 형식의 날짜 문자열
    :param keyword: 검색할 키워드
    """
    engine = get_db_connection()
    
    query = """
    SELECT 
        id,
        title,
        publisher,
        naver_link,
        published_at
    FROM articles
    WHERE 
        DATE(published_at) = %s AND
        (title LIKE %s OR main_keyword LIKE %s)
    ORDER BY published_at DESC
    """
    
    search_pattern = f'%{keyword}%'
    df = pd.read_sql_query(query, engine, params=[date_str, search_pattern, search_pattern])
    return df

# 사용 예시:
df = search_by_date_and_keyword('2024-10-15', '카카오모빌리티')
display(df)

## 기사 내용 조회

In [ ]:
def get_article_content(article_id):
    """
    특정 기사의 내용을 조회합니다.
    :param article_id: 기사 ID
    """
    engine = get_db_connection()
    
    query = """
    SELECT 
        a.id,
        a.title,
        a.publisher,
        c.content,
        a.published_at
    FROM articles a
    LEFT JOIN contents c ON a.id = c.article_id
    WHERE a.id = %s
    """
    
    df = pd.read_sql_query(query, engine, params=[article_id])
    return df

# 사용 예시:
df = get_article_content(3514)
display(df)

## 카카오모빌리티 관련 기사 검색 예시

In [ ]:
# 특정 날짜의 카카오모빌리티 관련 기사 검색
date_str = '2024-09-01'  # 날짜를 원하는 날짜로 변경하세요
keyword = '카카오모빌리티'

df = search_by_date_and_keyword(date_str, keyword)
display(df)

In [ ]:
# 특정 날짜의 카카오모빌리티 관련 기사 검색
date_str = '2024-10-01'  # 날짜를 원하는 날짜로 변경하세요
keyword = '카카오모빌리티'

df = search_by_date_and_keyword(date_str, keyword)
display(df)

In [ ]:
def search_by_date_and_keyword_all(date_str, keyword):
    """
    특정 날짜와 키워드로 기사를 검색합니다.
    :param date_str: 'YYYY-MM-DD' 형식의 날짜 문자열
    :param keyword: 검색할 키워드
    """
    engine = get_db_connection()
    
    query = """
    SELECT 
        *
    FROM articles
    WHERE 
        DATE(published_at) = %s AND
        (title LIKE %s OR main_keyword LIKE %s)
    ORDER BY published_at DESC
    """
    
    search_pattern = f'%{keyword}%'
    df = pd.read_sql_query(query, engine, params=[date_str, search_pattern, search_pattern])
    return df

# 사용 예시:
df = search_by_date_and_keyword_all('2024-10-01', '카카오모빌리티')
display(df)

In [ ]:
def get_all_comments(limit=50):
    """
    모든 댓글을 collected_at 기준으로 내림차순 정렬하여 조회합니다.
    
    :param limit: 조회할 댓글의 수 (기본값: 50)
    :return: pandas DataFrame 형식의 댓글 데이터
    """
    engine = get_db_connection()
    
    query = """
    SELECT 
        *
    FROM comments
    ORDER BY collected_at DESC
    LIMIT %s;
    """
    
    df = pd.read_sql_query(query, engine, params=[limit])
    return df

# 사용 예시:
df_all_comments = get_all_comments()
display(df_all_comments)